.vscode/**
.vscode-test/**
src/**
**/*.ts
**/*.map
.gitignore
.git/**
tsconfig.json
jest.config.js
node_modules/**
examples/**
**/*.test.js
!node_modules/vscode-languageserver/**
!node_modules/vscode-languageserver-textdocument/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-uri/**
